= link_to "Back", root_path
%br
%br
= link_to "Email Everyone", @mail
%br
%br
= link_to "Download as CSV", download_csv_path
%br
%br
= link_to "New Member", new_member_path
%h1 All Members
%table
	- i = 0
	- @all_members.each do |m|
		- i = i + 1
		%tr
			%td= i
			%td= link_to m.firstname + " " + m.lastname, m
			%td= link_to m.email, "mailto:" + m.email
			%td= m.grade || "Coach"
			%td= 'FORGOT TO LOG YESTERDAY' unless m.logged_yesterday?