<<<<<<< HEAD
= link_to "Back", members_path
%h1= @member.firstname + " " + @member.lastname
%p= link_to @member.email, ("mailto:" + @member.email)
%p= @member.grade
=======
.flex-container
	%header
		= link_to "Back", members_path
		%h1= @member.firstname + " " + @member.lastname
	.info
		=link_to @member.email, ("mailto:" + @member.email)
		%p= @member.grade
>>>>>>> show-view
